<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Wellcome To RENT-ME-AN-APARTMENT</title>
<link href="../static/css/main.css" th:href="@{/css/main.css}"
	rel="stylesheet" />
</head>
<body>
	<h1>Check your email for a confirmation of the order!</h1>
	The email was sent to this address:
	<span style="display: in-line" th:text="${email}"></span><br>

	<form method="get" th:action="@{/}">
		<input type="submit" value="Logout!"/>
	</form>
</body>
</html>